body {
    font-family: Arial, sans-serif;
    background: #ffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    align-items: center;
}
.header {
    background-color: #000;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

/*phela*/
h2 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -15px;
}
.info, .contact-form {
    margin-left: 0;
}

.info p, .info ul {
    margin: 0;
    padding: 0;
}

.info p {
    margin-bottom: 10px;
}

.info ul {
    list-style: none;
    padding-left: 25px;
    margin-bottom: 20px;
}

    .info ul li {
        margin-bottom: 5px;
    }

.info img {
    vertical-align: middle;
    margin-right: 8px;
}

.contact-form {
    background: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 25px;
    border-radius: 5px;
    margin-top: 30px;
    width: 70%; /* phóng to form */
}

    .contact-form h3 {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

        .contact-form h3 img {
            margin-right: 8px;
        }

    .contact-form p {
        color: #666;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 14px;
        transition: all 0.3s ease;
    }

        .contact-form input:focus,
        .contact-form textarea:focus {
            outline: none;
            border-bottom: 1px solid #000;
        }

    .contact-form textarea {
        resize: none;
        height: 100px;
    }

    .contact-form button {
        width: 100%;
        padding: 12px;
        background: linear-gradient(to right, #caa380, #d3b59b);
        border: none;
        color: #ffff;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

        .contact-form button:hover {
            background: linear-gradient(to right, #b18a6b, #c4a78f);
        }
